.reader {
  width: 80%;
  height: 500px;
  border: 3px solid black;
  border-radius: 10px;
  margin: 15% auto;
}
#readArea {
  width: 80%;
  height: 80px;
  margin: 15px auto 0px auto;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  font-size: 4.5vw;
}
#readArea:after {
  position: absolute;
  left: 0;
  top: 50%;
  height: 1px;
  width: 100%;
  display: block;
}
.word {
  margin-top: 20px;
}
#input {
  height: 100px;
}
textarea {
  width: 90%;
  height: 90%;
  margin: 2px auto;
}
#controls {
  width: 100%;
  height: 40%;
  color: white;
}
#start {
  margin: 10px auto;
  width: 50%;
  max-height: 50px;
  border: 3px solid black;
  border-radius: 8px;
  background: white;
  color: black;
}
#start:hover {
  background: black;
  color: white;
}

#WPM {
  color: black;
  margin: 10px auto;
}
#reset {
  float: left;
  margin-top: -20px;
}
