.reader {
  width: 80%;
  max-width: 500px;
  height: 500px;
  border: 3px solid black;
  border-radius: 10px;
  margin: 15% auto;
}
#readArea {
  width: 80%;
  height: 80px;
  margin: 15px auto 0px auto;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  font-size: 4.5vw;
  overflow:hidden;
}
.word {
  margin-top: 20px;
}
#input {
  height: 100px;
}
textarea {
  width: 90%;
  height: 90%;
  margin: 10px auto;
  resize: none;
  border-radius: 5px;
}
#WPM {
  color: black;
  width: 90%;
  display: flex;
}
h3 {
  color: black;
}
#rawSpeed {
  float:left;
  margin: 0 5px;
}
#speed {
  flex-grow: 1;
}
#wordSpeed {
  float:right;
  margin: 0 5px;
}

#modes {
  display: flex;
}
.mode {
  flex-grow: 1;
}

#reset {
  float: left;
  margin-top: -20px;
}
#controls {
  width: 100%;
  height: 40%;
  color: white;
}

#start {
  margin: 10px auto;
  width: 50%;
  max-height: 50px;
  border: 3px solid black;
  border-radius: 8px;
  background: white;
  color: black;
}
#start:hover {
  background: black;
  color: white;
}

#notes {
  color:blue;
}
#reticle {
  width: 50%;
  height: 100%;
  float: left;
  background: none;
  border-right: 3px solid gray;
  z-index: 9999;
  margin-top: -20%;
}
.controller {
  /*border:1px solid black;*/
  max-width: 90%;
  margin: 10px auto;
}
.mono {
  font-family: 'Source Code Pro', monospace;
}
.sans {
  font-family: 'Nunito Sans', sans-serif;
}
.serif {
  font-family: 'Lora', serif;
}
#wordNow {

}
